### 3.1 Librerías

In [1]:
from os import chdir

# posicionarse sobre el directorio raiz
chdir("..")

In [2]:
import os

os.environ["MODIN_ENGINE"] = "dask"  # Modin will use Dask

In [164]:
# To connect with BigQuery
from json import loads
from json import dump
from base64 import b64decode
# To connect with fda
from pickle import dumps
from pickle import HIGHEST_PROTOCOL


<div class="alert alert-info" role="alert">
Se deben ejecutar los siguientes comandos en la terminal:
</div>


### Desinstalación

```bash
sudo apt-get remove graphviz-dev -y 
sudo apt-get purge graphviz-dev -y 
pip uninstall pygraphviz visions[all] tqdm networkx -y 
poetry remove ydata-profiling[notebook]
```

### Instalación

```bash
sudo apt install graphviz-dev -y
pip install pygraphviz visions[all] tqdm networkx
poetry add ydata-profiling
poetry add dask['dask']
poetry add "dask[distributed]"
poetry add modin
```

In [4]:

from modin.pandas import read_csv,set_option
from modin.pandas import set_option
from modin.pandas import DataFrame
from ydata_profiling import ProfileReport

from numpy import trunc
from os import path

set_option('display.width', 1000)
set_option('display.max_rows', None)
set_option('display.float_format', lambda x: '{:.2f}'.format(x))

### 3.2 Funciones

In [5]:
def truncate_float(x):
    return trunc(x)  # Trunca a dos decimales sin redondear

In [6]:
prefix_path='local_artifacts/profiling'
report_name='DataTrainV1.pp'
full_path = path.join(prefix_path,report_name)

### 3.3 Conexiones

In [1]:
#

### 3.4 Lectura de datos

In [12]:
# df_types[df_types.data_type == 'BIGNUMERIC']

In [1]:
columns_rv = ['','','']

In [2]:
df.drop(columns=columns_rv, inplace=True)

NameError: name 'df' is not defined

In [18]:
df.head()

   target  Q_CLAIM_OPENED_3  BPP_AMT_DOLL_3  BPP_INSTANT_RECOVERY_AMT_DOLL_3  Q_BPP_OPENED_3  AVG_BPP_AMT_DOLL_3  AVG_BPP_INSTANT_RECOVERY_AMT_DOLL_3  Q_CLAIM_OPENED_5  BPP_AMT_DOLL_5  BPP_INSTANT_RECOVERY_AMT_DOLL_5  ...  q_encen_tc_6m  q_encen_tc_3m  meses_desde_ult_encen_tc  current_ccard_limit_amt  last_ccard_limit_amt_12m  upsell_ccard_rise_limit_ratio_12m  first_ccard_limit_amt_12m  upsells_ccard_rise_limit_ratio_from_first_12m  upsells_ccard_days_from_last_update_12m  upsells_ccard_days_from_first_update_12m
0       0              <NA>             NaN                              NaN            <NA>                 NaN                                  NaN              <NA>             NaN                              NaN  ...              0              0                      -999                      NaN                       NaN                                NaN                        NaN                                            NaN                                     <NA>                                      <NA>
1       0                 1            0.00                             0.00               0                0.00                                 0.00                 3           11.00                             0.00  ...              0              0                      -999                      NaN                       NaN                                NaN                        NaN                                            NaN                                     <NA>                                      <NA>
2       0              <NA>             NaN                              NaN            <NA>                 NaN                                  NaN              <NA>             NaN                              NaN  ...              0              0                      -999                      NaN                       NaN                                NaN                        NaN                                            NaN                                     <NA>                                      <NA>
3       0              <NA>             NaN                              NaN            <NA>                 NaN                                  NaN              <NA>             NaN                              NaN  ...              0              0                      -999                      NaN                       NaN                                NaN                        NaN                                            NaN                                     <NA>                                      <NA>
4       0                 1            0.00                             0.00               0                0.00                                 0.00                 1            0.00                             0.00  ...              0              0                      -999                      NaN                       NaN                                NaN                        NaN                                            NaN                                     <NA>                                      <NA>

[5 rows x 2787 columns]

In [19]:
df.shape

(47667, 2787)

In [20]:
# porcentaje_nan = (df.isna().mean() * 100)

# Ordenar los resultados por el porcentaje de NaN de forma descendente
# sorted(zip(porcentaje_nan.index, porcentaje_nan), key=lambda x: round(x[1],2) , reverse=False)

In [21]:
def contar_columnas_con_nulos(df, umbral_porcentaje=40):
    num_columnas_con_nulos = 0
    nombres_columnas_con_nulos = []

    # Iterar sobre las columnas del DataFrame
    for columna in df.columns:
        # Calcular el porcentaje de valores nulos en la columna actual
        porcentaje_nulos = (df[columna].isnull().sum() / len(df)) * 100

        # Verificar si el porcentaje supera el umbral
        if porcentaje_nulos > umbral_porcentaje:
            num_columnas_con_nulos += 1
            nombres_columnas_con_nulos.append(columna)

    return num_columnas_con_nulos, nombres_columnas_con_nulos

In [22]:
num , names = contar_columnas_con_nulos(df, umbral_porcentaje = 40)
num

1633

In [23]:
num , names = contar_columnas_con_nulos(df, umbral_porcentaje = 80)
num

1347

In [24]:
num , names = contar_columnas_con_nulos(df, umbral_porcentaje = 99)
num

1188

***

# Remover Nulos

In [27]:

# Convertir las columnas seleccionadas a tipo categórico
for col in columnas_flag:
    df_dropped[col] = df_dropped[col].astype('category')

In [28]:
df_dropped['target'] = df_dropped.target.astype('category')

## Leer DataSet

## Submuestreo Estratificado

Dado que el conjunto de entrenamiento es de alta dimensionalidad y contiene más de 47 mil registros, puede ser necesario realizar un submuestreo estratificado para el perfilamiento de datos. Esto es especialmente relevante si necesitamos crear gráficos u otras operaciones que podrían ser costosas en términos de tiempo y recursos.

In [29]:
"""
import pandas as pd
from sklearn.model_selection import train_test_split


# Definir las variables nominales y el target
columnas_categoricas = df_dropped.select_dtypes(include='category').columns.tolist()
target = 'target'

# Submuestreo estratificado por las variables categóricas
# train_stratified = df_dropped.groupby(variables_categoricas, group_keys=False).apply(lambda x: x.sample(min(len(x), 100)))

columnas_numericas = df_dropped.select_dtypes(include=['float64', 'int64']).columns.tolist()


# Función para realizar el submuestreo estratificado
def submuestreo_estratificado(df, variables_categoricas, variables_numericas, n=100):
    grupos = df.groupby(variables_categoricas)
    submuestreo = []
    for nombre_grupo, grupo in grupos:
        submuestreo_grupo = grupo.sample(min(len(grupo), n), replace=False)
        submuestreo.append(submuestreo_grupo)
    return pd.concat(submuestreo)

# Realizar el submuestreo estratificado
train_stratified = submuestreo_estratificado(df_dropped, columnas_categoricas, columnas_numericas)

train_stratified.head()


df = train_stratified

"""
h = 0

# Profiling

In [193]:
# Personalizar opciones
"""
profile = df.profile_report(
        title="Report without correlations",
        correlations={
            "auto": {"calculate": False},
            "pearson": {"calculate": False},
            "spearman": {"calculate": False},
            "kendall": {"calculate": False},
            "phi_k": {"calculate": False},
            "cramers": {"calculate": False},
            "recoded":{"calculate": False}
        },
        interactions={"continuous":  False},
        sort="ascending",
        vars={
        "num": {"low_categorical_threshold": 0},
        "cat": {
          "length": False,
          "characters": False,
          "words": False,
          "n_obs": 5,
        }
        }
    )
    """
h = 0

### Ejecutar y validar

In [31]:
profile = df_dropped.profile_report(title="Report without correlations",minimal=True)

In [32]:
response = profile.to_json()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Render JSON:   0%|          | 0/1 [00:00<?, ?it/s]

In [33]:
response = loads(response)

In [34]:
# Keys en el reporte
response.keys()

dict_keys(['analysis', 'time_index_analysis', 'table', 'variables', 'scatter', 'correlations', 'missing', 'alerts', 'package', 'sample', 'duplicates'])

#  Variables

Obtener informción de la key  `Variables` del objeto profiling

### Remover elementos inecesarios

In [35]:
# value_counts_index_sorted
# histogram
# value_counts_index_sorted
for key in response['variables'].keys():
    # response['variables'][key]['value_counts'] = len(response['variables'][key]['value_counts_index'].keys())
    if 'histogram' in response['variables'][key]:
        del response['variables'][key]['histogram']
    if 'value_counts_without_nan' in response['variables'][key]:
        del response['variables'][key]['value_counts_without_nan']
    if 'value_counts_index_sorted' in response['variables'][key]:
        response['variables'][key]['num_value_counts']= len(response['variables'][key]['value_counts_index_sorted'].keys())
        del response['variables'][key]['value_counts_index_sorted']
    if 'first_rows' in response['variables'][key]:
        del response['variables'][key]['first_rows']

In [36]:
# Convertir el diccionario a un formato adecuado para DataFrame
formatted_data = {key: [value] for key, value in response['variables'].items()}

In [40]:
from pandas import DataFrame,concat
# Diccionario para almacenar DataFrames
lista = []

for key, value in formatted_data.items():
    # Convertir el diccionario a DataFrame
    df_ = DataFrame(value, index = [key])
    # Agregar el DataFrame al diccionario
    lista.append(df_)

In [41]:
df_ = concat(lista)

# Alertas

Extraer información de la key `Alertas` del objeti profiling

In [112]:
# Crear un DataFrame a partir del diccionario
dict_ = {}
# Diccionario para almacenar DataFrames
lista = []
    
for item in response['alerts']:
    p = item.split('] ')
    idx = p[0].strip('[')
    val = p[1]
    if idx in dict_:
        # Si el índice ya existe, agregar la alerta a la lista
        dict_[idx].append(val)
    else:
        # Si el índice no existe, crear una nueva lista con la alerta
        dict_[idx] = [val]
        
for key, value in dict_.items():
    # Convertir el diccionario a DataFrame
    df_tmp = DataFrame(str(value), index = [key],columns=['alert'])
    # Agregar el DataFrame al diccionario
    lista.append(df_tmp)

In [143]:
df_alerts = concat(lista)

# Concatenar los DataFrames por sus índices
df_concatenated = df_.join(df_alerts, how='inner')

# Ordenar el DataFrame por el nombre de las columnas
df_sorted = df_concatenated.reindex(sorted(df_concatenated.columns), axis=1)

In [131]:
from re import findall
def truncate_floats_in_text(text_list):
    
    def truncate_floats(text):
        pattern = r'\b\d+\.\d+\b'
        floats = findall(pattern, text)
        truncated_floats = [round(float(f), 2) for f in floats]
        for orig, trunc in zip(floats, truncated_floats):
            text = text.replace(orig, str(trunc))
            

        return text
    
    return [truncate_floats(text) if isinstance(text, str) else text for text in text_list]

# Suponiendo que df es tu DataFrame
def split_list(text):
    if notna(text):
        return text.strip("[]").split(", ")
    else:
        return text

In [132]:
from pandas import set_option, notna
set_option('display.width', 1000)
set_option('display.max_rows', None)
set_option('display.max_columns', None)
set_option('display.max_colwidth', None)
set_option('display.expand_frame_repr', True)

df_sorted['alert']  = truncate_floats_in_text(df_sorted['alert'])

# Perfil de los datos

Dar prioridad a los que tiene alertas

In [133]:
response['analysis']

{'title': 'Report without correlations',
 'date_start': '2024-03-19 18:38:59.972773',
 'date_end': '2024-03-19 18:39:21.692810'}

In [134]:
response['table']

{'n': 47667,
 'n_var': 1154,
 'memory_size': 452411971,
 'record_size': 9491.0938594835,
 'n_cells_missing': 3873776,
 'n_vars_with_missing': 736,
 'n_vars_all_missing': 0,
 'p_cells_missing': 0.07042240872453571,
 'types': {'Categorical': 24, 'Numeric': 1129, 'DateTime': 1}}

In [135]:
df_sorted['alert'] = df_sorted['alert'].apply(split_list)

In [150]:
orden_columns = [
'type',
 'is_unique',
 'alert',
 'imbalance',
 'count',
 'skewness',
 'n_missing',
 'n_distinct',
 'n_unique',
 'num_value_counts',
 'kurtosis',
 'cv',
 'hashable',
 'iqr',
 'mad',
 'max',
 'mean',
 'memory_size',
 'min',
 'monotonic',
 'monotonic_decrease',
 'monotonic_decrease_strict',
 'monotonic_increase',
 'monotonic_increase_strict',
 'n',
 'n_infinite',
 'n_negative',
 'n_zeros',
 'ordering',
 'p_distinct',
 'p_infinite',
 'p_missing',
 'p_negative',
 'p_unique',
 'p_zeros',
 'range',
 'std',
 'sum',
 'variance',
'25%',
 '5%',
 '50%',
 '75%',
 '95%',]

In [152]:
df_sorted[orden_columns].head(5)

                                         type  is_unique                                                                                                     alert  imbalance  count  skewness  n_missing  n_distinct  n_unique  num_value_counts  kurtosis   cv  hashable    iqr   mad       max   mean  memory_size  min  monotonic monotonic_decrease monotonic_decrease_strict monotonic_increase monotonic_increase_strict      n  n_infinite  n_negative  n_zeros  ordering  p_distinct  p_infinite  p_missing  p_negative  p_unique  p_zeros     range     std        sum   variance   25%   5%   50%    75%     95%
target                            Categorical      False                                                             ['is highly imbalanced (0.8753030581972824)']       0.88  47667       NaN          0           2         0                 2       NaN  NaN      True    NaN   NaN       NaN    NaN        47919  NaN        NaN                NaN                       NaN                NaN                       NaN  47667         NaN         NaN      NaN      True        0.00         NaN       0.00         NaN      0.00      NaN       NaN     NaN        NaN        NaN   NaN  NaN   NaN    NaN     NaN
Q_CLAIM_OPENED_15                     Numeric      False                                                                          ['17409 (36.5%) missing values']        NaN  30258      1.11      17409          16         0                16      0.25 0.83      True   5.00  2.00        16   5.08       429131    1       0.00              False                     False              False                     False  47667        0.00        0.00     0.00      True        0.00        0.00       0.37        0.00      0.00     0.00        15    4.20  153761.00      17.64  2.00 1.00  4.00   7.00   15.00
BPP_AMT_DOLL_15                       Numeric      False    ['17409 (36.5%) missing values', 'is highly skewed(γ1 = 47.74659281367469)', 'has 5014 (10.5%) zeros']        NaN  30258     47.75      17409        2157       899              2157   3018.21 6.28      True 211.00 80.00 146009.00 307.76       381464 0.00       0.00              False                     False              False                     False  47667        0.00        0.00  5014.00      True        0.07        0.00       0.37        0.00      0.03     0.11 146009.00 1931.81 9312211.00 3731893.72 22.00 0.00 80.00 233.00 1059.15
BPP_INSTANT_RECOVERY_AMT_DOLL_15      Numeric      False  ['17409 (36.5%) missing values', 'is highly skewed(γ1 = 25.851491177148556)', 'has 27327 (57.3%) zeros']        NaN  30258     25.85      17409         576       261               576   1196.37 7.24      True   0.00  0.00   7234.00  15.02       381464 0.00       0.00              False                     False              False                     False  47667        0.00        0.00 27327.00      True        0.02        0.00       0.37        0.00      0.01     0.57   7234.00  108.69  454402.00   11812.93  0.00 0.00  0.00   0.00   60.00
Q_BPP_OPENED_15                       Numeric      False                                                ['17409 (36.5%) missing values', 'has 5012 (10.5%) zeros']        NaN  30258     15.12      17409         289       110               289    311.55 3.43      True   7.00  3.00      1022  10.06       429131    0       0.00              False                     False              False                     False  47667        0.00        0.00  5012.00      True        0.01        0.00       0.37        0.00      0.00     0.11      1022   34.54  304533.00    1193.06  1.00 0.00  3.00   8.00   35.00

# Validaciones

A futuro

In [ ]:
import pandas as pd
import great_expectations as ge
from pathlib import Path
from ydata_profiling.expectations_report import ExpectationsReport
from ydata_profiling import ProfileReport


def profiling(df_pandas,suite_name = 'test'):
    
    
    # Crear un reporte de perfil sobre el conjunto de datos del Titanic
    profile = ProfileReport(df_pandas, title=f"{suite_name} Profiling Report", minimal=True)

    # Obtener el contexto de Great Expectations
    context_ge = ge.get_context()
    
    # Agregar el conjunto de datos como un activo de DataFrame en la fuente de datos de pandas
    datasource = context_ge.sources.add_pandas(name="pandas")
    data_asset = datasource.add_dataframe_asset(name=suite_name, dataframe=df_pandas)
    
    # Sobrescribir el método to_expectation_suite con el de ExpectationsReportV3
    ExpectationsReport.to_expectation_suite = ExpectationsReportV3.to_expectation_suite

    # Generar una suite de expectativas utilizando el reporte de perfil
    suite = profile.to_expectation_suite(
        suite_name=suite_name,
        data_context=context_ge
    )
    return suite


if __name__ == '__main__':
    # Llamar a la función profiling para ejecutar el perfilado y la generación de expectativas
    suite = profiling(df)

In [ ]:
from typing import Any, Optional
import pandas as pd
from visions import VisionsTypeset
from ydata_profiling.config import Settings
from ydata_profiling.model import BaseDescription, expectation_algorithms
from ydata_profiling.model.handler import Handler
from ydata_profiling.utils.dataframe import slugify
from great_expectations.checkpoint import SimpleCheckpoint

class ExpectationHandler(Handler):
    """Manejador de expectativas predeterminado."""

    def __init__(self, typeset: VisionsTypeset, *args, **kwargs):
        # Mapeo de algoritmos de expectativas por tipo de variable
        mapping = {
            "Unsupported": [expectation_algorithms.generic_expectations],
            "Text": [expectation_algorithms.categorical_expectations],
            "Categorical": [expectation_algorithms.categorical_expectations],
            "Boolean": [expectation_algorithms.categorical_expectations],
            "Numeric": [expectation_algorithms.numeric_expectations],
            "URL": [expectation_algorithms.url_expectations],
            "File": [expectation_algorithms.file_expectations],
            "Path": [expectation_algorithms.path_expectations],
            "DateTime": [expectation_algorithms.datetime_expectations],
            "Image": [expectation_algorithms.image_expectations],
        }
        super().__init__(mapping, typeset, *args, **kwargs)


class ExpectationsReportV3:
    """Clase para generar una suite de expectativas utilizando Great Expectations."""

    config: Settings
    df: Optional[pd.DataFrame] = None

    @property
    def typeset(self) -> Optional[VisionsTypeset]:
        """Devuelve el conjunto de tipos de visiones."""
        return None

    def to_expectation_suite(
        self,
        suite_name: Optional[str] = None,
        data_context: Optional[Any] = None,
        save_suite: bool = True,
        run_validation: bool = True,
        build_data_docs: bool = True,
        handler: Optional[Handler] = None,
    ) -> Any:
        """
        Todos los parámetros predeterminan a True para facilitar el acceso a la funcionalidad completa de Great Expectations.
        
        Args:
            suite_name: El nombre de su suite de expectativas.
            data_context: Un contexto de datos especificado por el usuario.
            save_suite: Booleano para determinar si guardar la suite en .json como parte del método.
            run_validation: Booleano para determinar si ejecutar la validación como parte del método.
            build_data_docs: Booleano para determinar si generar documentación de datos, guardar el archivo .html y abrir
                             la documentación de datos en su navegador.
            handler: El manejador a usar para construir la expectativa.

        Returns:
            Una ExpectationSuite.
        """
        try:
            import great_expectations as ge
        except ImportError as ex:
            raise ImportError(
                "Por favor, instale great expectations antes de usar la funcionalidad de expectativas."
            ) from ex

        # Usa el título del informe si la suite está vacía
        if suite_name is None:
            suite_name = slugify(self.config.title)

        # Usa el manejador predeterminado si no se especifica ninguno
        if handler is None:
            handler = ExpectationHandler(self.typeset)

        # Obtiene el contexto de ge y crea la suite de expectativas
        if not data_context:
            data_context = ge.data_context.DataContext()

        data_asset = data_context.get_datasource(
            "pandas").get_asset(suite_name)

        batch_request = data_asset.build_batch_request()

        suite = data_context.add_or_update_expectation_suite(expectation_suite_name=suite_name)

        # Instancia un dataset pandas en memoria
        validator = data_context.get_validator(batch_request=batch_request, expectation_suite=suite)

        # Obtiene el resumen del perfil
        summary: BaseDescription = self.get_description()  # type: ignore

        # Despacha las expectativas por tipo de variable semántica
        for name, variable_summary in summary.variables.items():
            handler.handle(variable_summary["type"], name, variable_summary, validator)

        # No actualizamos realmente el objeto suite en el batch en su lugar, así que necesitamos
        # obtener la suite poblada del batch
        suite = validator.get_expectation_suite(discard_failed_expectations=False)
        data_context.update_expectation_suite(suite)
        
        validation_result_identifier = None
        if run_validation:
            checkpoint_config = {
                "class_name": "SimpleCheckpoint",
                "validations": [
                    {
                        "batch_request": batch_request,
                        "expectation_suite_name": suite_name,
                    }
                ]
            }
            checkpoint = SimpleCheckpoint(
                f"_tmp_checkpoint_{suite_name}",
                data_context,
                suite,
                **checkpoint_config,

            )
            results = checkpoint.run(result_format="SUMMARY", run_name=suite_name)
            validation_result_identifier = results.list_validation_result_identifiers()[0]

        # Escribe expectativas y abre la documentación de datos
        if save_suite or build_data_docs:
            data_context.update_expectation_suite(suite)

        if build_data_docs:
            data_context.build_data_docs()
            data_context.open_data_docs(validation_result_identifier)

        return validator.get_expectation_suite